OperatorConsole/Service References/OperatorService/Operator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveChat.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveChat.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOperatorEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperatorEntity" nillable="true" type="tns:OperatorEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperatorEntity" nillable="true" type="tns:ArrayOfOperatorEntity" />
  <xs:complexType name="OperatorEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatorEntity" nillable="true" type="tns:OperatorEntity" />
  <xs:complexType name="ArrayOfChannelEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelEntity" nillable="true" type="tns:ChannelEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelEntity" nillable="true" type="tns:ArrayOfChannelEntity" />
  <xs:complexType name="ChannelEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CloseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperatorId" type="xs:int" />
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelEntity" nillable="true" type="tns:ChannelEntity" />
  <xs:complexType name="ArrayOfDepartmentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentEntity" nillable="true" type="tns:DepartmentEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentEntity" nillable="true" type="tns:ArrayOfDepartmentEntity" />
  <xs:complexType name="DepartmentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentEntity" nillable="true" type="tns:DepartmentEntity" />
</xs:schema>