OperatorConsole/Service References/RequestService/WebRequest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveChat.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveChat.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PageRequestEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="PageRequested" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referrer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitorIp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageRequestEntity" nillable="true" type="tns:PageRequestEntity" />
  <xs:complexType name="ArrayOfPageRequestEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageRequestEntity" nillable="true" type="tns:PageRequestEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageRequestEntity" nillable="true" type="tns:ArrayOfPageRequestEntity" />
</xs:schema>