OperatorConsole/Service References/RequestService/WebRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WebRequest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3210/WebServices/WebRequest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3210/WebServices/WebRequest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3210/WebServices/WebRequest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiveChat.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebRequest_LogRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:LogRequest" />
  </wsdl:message>
  <wsdl:message name="IWebRequest_LogRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IWebRequest_GetRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequests" />
  </wsdl:message>
  <wsdl:message name="IWebRequest_GetRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebRequest">
    <wsdl:operation name="LogRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebRequest/LogRequest" message="tns:IWebRequest_LogRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebRequest/LogRequestResponse" message="tns:IWebRequest_LogRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebRequest/GetRequests" message="tns:IWebRequest_GetRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebRequest/GetRequestsResponse" message="tns:IWebRequest_GetRequests_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebRequest" type="tns:IWebRequest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogRequest">
      <soap:operation soapAction="http://tempuri.org/IWebRequest/LogRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <soap:operation soapAction="http://tempuri.org/IWebRequest/GetRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebRequest">
    <wsdl:port name="BasicHttpBinding_IWebRequest" binding="tns:BasicHttpBinding_IWebRequest">
      <soap:address location="http://localhost:3210/WebServices/WebRequest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>