OperatorConsole/Service References/RequestService/WebRequest2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3210/WebServices/WebRequest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiveChat.Entities" />
  <xs:element name="LogRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LiveChat.Entities" minOccurs="0" name="page" nillable="true" type="q1:PageRequestEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LiveChat.Entities" minOccurs="0" name="GetRequestsResult" nillable="true" type="q2:ArrayOfPageRequestEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>